*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color: hsl(0, 14%, 97%);
    /* background-color: #0f0f28; */
    background-color: #000;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: whitesmoke;
}
.logo{
    position: relative;
    font-size: 25px;
    color:rgb(196, 49, 161);
    text-decoration: none;
    font-weight: 600;
    cursor: default; 
    opacity: 0; 
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color:rgb(196, 49, 161);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s ;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.navbar a:hover{
    color: black;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
.home {
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(wallpaper3-overlay5.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
}

.home-content{
    position: relative;
    max-width: 600px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color:rgb(144, 9, 76);
    /* color:orange; */
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}
.home-content h3 span{
    color: #98167c;
}
.home-content h1{
    font-size:32px;
    font-weight: 700;
    margin: -3px 0;
    color:orange;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}
.home-content p{
    font-size:20px;
    /* color:rgb(144, 9, 76); */
    color:orange;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    transition: .5s ease;
    opacity:0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

/* more about me */
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 25px cyan, 0 0 25px cyan
    
}
.About{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem; */
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(white-bg3-overlay\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
    gap: 1.5rem;
    padding: 70px 10% 0;
    
}
.about-text h2{
    font-size: 60px;
    color: #d875c3;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    color: #d875c3;
    font-size: 20px;
    font-weight: 600;
    /* line-height: 1.7;
    margin: 15px 0 30px; */
    
}
.about-text p{
    /* text-align: left;
    padding-left: 250px; */
    color: #d875c3;
    /* font-size: 20px; */
    /* line-height: 1.4;
    margin-bottom: 4rem; */
    
}

#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
}
.sub-title span{
    color: #0ef;
}

.container{
    padding: 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding:40px;
    font-size:13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 25px cyan, 0 0 25px cyan
}
.services-list div:hover{
    transform: translateY(-10px);
}
section{
    display:flex;
    flex-wrap: wrap;
}


.My-img2{
    padding-left:60px ;
    margin-top: 60px;

}
.My-img1{
    padding-top: 18%;
    padding-left: 15%;
    padding-right: 150px;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top:  0;
}
.Technical-bars .bar:last-child{
    margin-bottom:  0;
}
.Technical-bars .bar .info{
    margin-bottom:  5px;
}
.Technical-bars .bar .info span{
   font-size: 17px;
   font-weight: 500;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
       transform: scaleX(1);
    }
    
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:70%;
}
.progress-line.javascript span{
    width:60%;
}
.progress-line.java span{
    width:78%;
}
.progress-line.python span{
    width:70%;
}
.progress-line span::after{
    position: absolute;
    padding:1px 0px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.javascript span::after{
    content: "60%";
}
.progress-line.java span::after{
    content: "78%";
}
.progress-line.python span::after{
    content: "70%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
@keyframes showText{
    100%{
       opacity: 1;
    }
    
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position:relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width:120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #d875c3;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}
.path-1{animation:animate-path1 1s 1s linear forwards;}
.path-2{animation:animate-path2 1s 1s linear forwards;}
.path-3{animation:animate-path3 1s 1s linear forwards;}
.path-4{animation:animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 100;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 50;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
/*porfolio*/
.sub-title2{
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 80px;
}
.sub-title2 span{
    color: #0ef;
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    background-color: transparent;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* ----contact---- */
.sub-title3{
    text-align: center;
    font-size: 60px;
    padding-top: 70px;
}
.sub-title3 span{
    color: #0ef;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 40px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;

}
.contact-left p{
    padding-left: 150px;
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
     margin-right: 15px;
     font-size: 25px;
}
.social-icons{
    padding-left: 150px;
    margin-top: 30px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity:0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
   
}
.social-icons a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    
}
.btn-box2{
    display: inline-block;
    padding: 12px 28px;
    margin-left: 150px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.btn-box2:hover{
    
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 25px cyan, 0 0 25px cyan
    
}
.contact-right form{
    width: 80%;
    
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;

} 
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 70px;
}
.copyright i{
    color: #ff004f;
}
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}

@keyframes slideRight {
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slideLeft {
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slideTop {
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slideBottom {
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
