<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">URL Shortener</h1>
    <form class="mb-5" action="{{ url_for('home') }}" method="post">
        <div class="form-group">
            <label class="lead" for="url">Enter a URL:</label>
            <input type="text" class="form-control text-muted" id="url" name="url" placeholder="Enter url here" size="50" required>
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
